<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center">
      Test FirebaseAnalytics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-label>Todo</ion-label>
        <ion-input type="text"  name="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-input type="text"  name="title"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Add Todo</button>
    </form>
  </div>
</ion-content>
